.DS_Store
*.aux
*.log
*.bbl
*.blg
*.out
*.toc
report/*.xdv
__pycache__/
data/external/NCES_2020-2021_District_Demographics.csv
data/external/SY2223_Chronic_Absenteeism_EDE.zip
data/external/SY2223_chronic_absenteeism/
